<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>flask_compendium</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css_css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css_css/blocks.css') }}">

    
</head>
<body>
    <header>
        <h1><center>Здесь по пробуем разобраться с основными принципами работы блоков и их расположения</center></h1>
        <a href="{{ url_for('home') }}">На главную</a>
        <hr>
    </header>

    <main class="workspace">
        <div class="center">поцентру</div>
        <div class="left"> прижатый к левой части экрана</div>
        <div class="right">прижатый к правой части экрана</div>
    </main>
   

</body>
</html>
