<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/css_css/reset.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/css_css/float.css') }}">
	<title>Document</title>
</head>
<body>
	<header>
		<h1>Работа с float</h1>
		<a href="{{ url_for('home') }}">Назад</a>
	</header>
	<main>
		<nav>
			<p>Навигация</p>
			<hr>
		</nav>
		<section>
			<div class="first">first_float</div>
			<div class="second">second_float</div>
			<div class="third">third_float</div>


		</section>
	</main>
	<footer>
		footer
	</footer>
	
</body>
</html>