<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/css_css/reset.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/css_css/grid.css') }}">
	<title>Document</title>
</head>

<body>
	<header>
		<a href="{{ url_for('home') }}">Домой</a>
	</header>
	<main>
		<nav></nav>
<!-- 		<content>
			<div>Надпись</div>
			<div>Надпись</div>
			<div>Надпись</div>
			<div>Надпись</div>
			<div>Надпись</div>
			<div>Надпись</div>
		</content> -->
		
		<content class="grid-demo">
		    <div>Колонка 1</div>
		    <div>Колонка 2</div>
		    <div>Колонка 3</div>
		    <div>Колонка 4</div>
		    <div>Колонка 5</div>
		    <!-- <div>Колонка 6</div> -->
		</content>

	</main>
	<footer></footer>
</body>

</html>


