<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>flask_compendium</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css_css/reset.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css_css/style.css') }}">
</head>
<body>

    <header>    
        <div class="header_text">
            <h1>Добро! поважаловать в flask_compendium на Flask + Docker!</h1>
        </div>

        <div class="head_navigation">
            <a href="{{ url_for('home') }}"><div>CSS</div></a>
            <a href="{{ url_for('js_start') }}"><div>JS</div></a>
        </div>
    </header>
    
    <main>
        <nav>
            <h2>Ежедневнные уроки</h2>
            <h4 style="margin-bottom: -10px;">08.2025</h4>
            <hr>
            <ul>
                <li><a href="{{ url_for('text_page') }}">Работа с селекторами(16)</a></li>
                <li><a href="{{ url_for('block_page') }}">Работа с блоками(17)</a></li>
                <li><a href="{{ url_for('flex') }}">Работа с flex(18)</a></li>
                <li><a href="{{ url_for('grid') }}">Работа с grid(19)</a></li>
                <li><a href="{{ url_for('position') }}">Работа с position(20)</a></li>
                <li><a href="{{ url_for('inline') }}">Работа с inline,block(21)</a></li>
                <li><a href="{{ url_for('float') }}">Работа с float(24)</a></li>
                <li><a href="{{ url_for('text') }}">Работа со стилями текста(27)</a></li>
                <li><a href="{{ url_for('droplist') }}">Работа с droplist(28)</a></li>
                <li><a href="{{ url_for('transform') }}">Работа с transform(29)</a></li>
                <li><a href="{{ url_for('test') }}">grid_repeat</a></li>
                <li><a href="{{ url_for('test1') }}">flex_wrap(30)</a></li>
                <li><a href="{{ url_for('type_size') }}">Размеры(31)</a></li>
            </ul>

            <h4 style="margin-bottom: -10px;">09.2025</h4>
            <hr>
            <ul>
                <li><a href="{{ url_for('cards') }}">Проверка кулькуляторных карточек(1)</a></li>
                <li><a href="{{ url_for('space') }}">Космическая страничка(3)</a></li>
                <li><a href="{{ url_for('switcher') }}">Языковой переключатель(4)</a></li>
                <li><a href="{{ url_for('item_list') }}">Расскрывающийся список(5)</a></li>
                <li><a href="{{ url_for('page_item_list') }}">Текстовая странича(6)</a></li>
                <li><a href="{{ url_for('content_switcher') }}"> Переключатель контента(7)</a></li>
                <li><a href="{{ url_for('cutting_calc') }}"> Расчет режимов резания(8)</a></li>
                <li><a href="{{ url_for('linergradient') }}"> Linergradient(9)</a></li>
                <li><a href="{{ url_for('empty_page') }}"> Страница в разработке(10)</a></li>
                <li><a href="{{ url_for('cutting_parameters') }}">Режимы резания(11)</a></li>
                <li><a href="{{ url_for('drop_menu') }}">drop_menu(11)</a></li>
                <li><a href="{{ url_for('calculator_label') }}">Script калькулятора(12)</a></li>
                <li><a href="{{ url_for('graph') }}">Демонстрация построения графика(13)</a></li>
                <li><a href="{{ url_for('formulas') }}">Формулы режимов резания(14)</a></li>
                <li><a href="{{ url_for('java_base') }}">Основы javascript(15)</a></li>
                <li><a href="{{ url_for('materials') }}">Пример раздела матеиралы(17)</a></li>
                <li><a href="{{ url_for('materials_list') }}">Список раздела матеиралы(17)</a></li>
                <li><a href="{{ url_for('django_mods') }}">Django BD(18)</a></li>
                <li><a href="{{ url_for('matProp') }}">Свойства материалов(19)</a></li>
                <li><a href="{{ url_for('metallProp') }}">Свойства металлов(20)</a></li>
                <li><a href="{{ url_for('thread') }}">Резьбы(21)</a></li>
                <li><a href="{{ url_for('adminPy') }}">Работа с admin.py(22)</a></li>
                <li><a href="{{ url_for('models_to_view') }}">Отображение из базы данных(23)</a></li>
                <li><a href="{{ url_for('django_view') }}">Работа с view(24)</a></li>
                <li><a href="{{ url_for('blueprint') }}">Работа с blueprint flask(26)</a></li>
                <li><a href="{{ url_for('op_time') }}">Время операции(29)</a></li>
                <li><a href="{{ url_for('convert') }}">Конвертер единиц(30)</a></li>

            <h4 style="margin-bottom: -10px;">10.2025</h4>
            <hr>
            <ul>
                <li><a href="{{ url_for('circle') }}">Окружность с точками(2)</a></li>
                <li><a href="{{ url_for('circle_2') }}">Окружность(3)</a></li>
                <li><a href="{{ url_for('flask_app') }}">Разделения логики app.py(4)</a></li>
                <li><a href="{{ url_for('graphicks') }}">Графики(5)</a></li>
                <li><a href="{{ url_for('js_base') }}">Javascript основы(6)</a></li>
                
            </ul>

            <h4 style="margin-bottom: -10px;">1.2026</h4>
            <hr>
             <ul>
                <li><a href="{{ url_for('svg') }}">SVG</a></li>                
            </ul>

            <h4 style="margin-bottom: -10px;">2.2026</h4>
            <hr>
             <ul>
                <li><a href="{{ url_for('roughness') }}">Roughness</a></li>    
                <li><a href="{{ url_for('tolerance') }}">Tolerance</a></li>                
            </ul>

        </nav>
        <section>
            <button onclick="greet()">Кликни</button>
                      
        </section>
    </main>
    
    <footer>footer</footer>
    
  
  

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
