<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/css_css/reset.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/css_css/text.css') }}">
	<title>Document</title>
</head>
<body>
	<header>
		<h1>Работа с текстом </h1>
		<a href="{{ url_for('home') }}">Назад</a>
	</header>
	<main>
		<div class="discriprion">
		<h3>text-decoration-line</h3>
		</div>
		<div class="text_box">
		<p style="text-decoration-line: overline;">overline</p>
		<p style="text-decoration-line: line-through;">line-through</p>	
		<p style="text-decoration-line: underline;">underline</p>	
		<p style="text-decoration-line: overline underline;">overline underline</p>	
		</div>

		<div class="discriprion">description</div>
		<div class="text_box">text</div>
		<div class="discriprion">description</div>
		<div class="text_box">text</div>
		<div class="discriprion">description</div>
		<div class="text_box">text</div>
		<div class="discriprion">description</div>
		<div class="text_box">text</div>
	</main>
	
</body>
</html>