<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/css_css/reset.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/css_css/transform.css') }}">
	<title>Document</title>
</head>
<body>
<div class="prog_flex_lay">
    <nav class="prog_top_nav">
        <div>G-code</div>
        <div>Macros</div>
        <div>Python</div>
        <div>JavaScript</div>
    </nav>

    <section class="prog_content">
    </section>
</div>
	
</body>
</html>