html, body {
    height: 100%;
    margin: 0;
    background-color: darkorange;
    color: #eee;
}

body {
    background-color: #fff;
}

header {
    background-color: darkslategrey;
    height: 120px;
}

main {
    min-height: calc(100% - 200px); /* всё, что остаётся от экрана */
    padding: 10px;
}

nav { 
    display: inline-block;
    vertical-align: top;
    width: 150px;
    background-color: skyblue;
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    min-height: 100%; /* растягиваем */
}

section {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 170px); /* вся ширина минус nav + отступ */
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    padding-left: 10px;
    box-sizing: border-box;
    min-height: 100%;
}

footer {
    height: 80px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-width: 1px 1px 0 1px;
    border-radius: 20px 20px 0 0;
}
