body{
	background-color:slategrey;
}

div{
	background-color: red;
}

p{
	text-decoration-color: darkred;
	color:goldenrod;
}

.box{
	background-color:blue;
}

.text{
	color:yellowgreen;
}

#my_box{
	background-color:sienna;
}