<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/css_css/reset.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/js_css/js_style.css') }}">
	{% block style %}{% endblock style %}
	{% block scripts %}{% endblock scripts %}
	<title>Document</title>
</head>
<body>
	
	{% include "JS_temp/js_header.html" %}

	<main>
		{% include "JS_temp/js_nav.html" %}
		<section>
			<div>{% block content %}{% endblock %}</div>
		</section>	
	</main>
	
	{% include "JS_temp/js_footer.html" %}	

</body>


</html>