html,body {
	background-color: yellow;
	height: 100%;
}

body {
  display: flex;
  flex-direction: column; /* располагаем header и main вертикально */
}
h1 {
	background-color: blueviolet;
}

header {
  background: #333;
  color: white;
  padding: 10px;
}

main {	
	flex: 1;
	display: flex;	
	background-color: lightgrey;
	justify-content: center;
	align-items: center;
	align-content: center;
	border-style: solid;
	border-radius: 10px;
	border-width: 2px;
	border-color: red;
}

.center {
	display: flex;
	background-color: red;
	justify-content: center;
	justify-items: center;
	align-items: center;


}





